numpy
pandas
ipykernel
ipython
opencv-python
mujoco
jupyter
scipy
plotly
statsmodels
matplotlib
scikit-learn
torch
torchvision
timm
clearml
memory-profiler
tdqm
nbimporter
cairosvg
nb-mypy
ruff
transformers
sentencepiece
accelerate
seaborn
tensorboard
gradio
langchain
cohere
datasets
tensorflow
keras
tf-keras
capstone 
keystone-engine
torch_tb_profiler
einops
boto3
dspy
pydot
torchrl
python-dotenv
openai